@page "/admin"
<div class="container-fluid">
@if (AccountService.User.Username != "jybryce")
{
    <h1 class="text-danger">YOU ARE NOT ALLOWED TO ACCESS THIS PAGE</h1>
}

@if (AccountService.User.Username == "jybryce")
{
    <Users />
    <Posts />
}

 </div>
