@page "/admin/posts/edit/{Username}/{PostID:int}"
@inject NavigationManager NavigationManager

<div class="container">
    <div id="admin-post-form" class=card>
        <h4 class="card-header">Editing Post #@PostID by @Username</h4>
        <div class="card-body">
            <EditForm Model="@GetOriginalPost()" OnValidSubmit="ConfirmEdit">
                <div class="form-group">
                    <label>Title</label>
                    <InputText @bind-Value="post.Title"  placeholder=@GetOriginalPost().Title class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Subtitle</label>
                    <InputText @bind-Value="post.Subtitle" placeholder=@GetOriginalPost().Subtitle class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <InputTextArea @bind-Value="post.Content" placeholder=@GetOriginalPost().Content class="form-control"/>
                </div>
                <button class="btn btn-primary">
                    Confirm Edit
                </button>
                <NavLink href="/admin" class="btn btn-link">Cancel</NavLink>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public int PostID { get; set; }

    Post post = new Post();
    
    private IDatabaseService<Post, Post, int> PostDB = new PostDatabaseService();

    public Post GetOriginalPost()
    {
        return PostDB.GetItem(PostID);
    }

    public void ConfirmEdit()
    {
        PostDB.EditRow(PostID, "Title", post.Title);
        PostDB.EditRow(PostID, "Subtitle", post.Subtitle);
        PostDB.EditRow(PostID, "Content", post.Content);

        NavigationManager.NavigateTo("/admin");
    }

}