@page "/"

<div class="p-4">
    <div class="container">
        @if (!AccountService.loggedIn)
        {
            <h1>Welcome to Bloggo!</h1>
            <h4>Please <a href="account/login">Login</a> or <a href="account/register">Register a new Bloggo</a></h4>
        }
        @if (AccountService.loggedIn)
        {
            <h1>Frontpage of Bloggo</h1>
        }
        
    </div>
</div>
