@page "/account/register/thank-you"

<div class="container-fluid">
    <div id="register-thanks" class="card">
        <div class="card-header  text-center">
            <h2>Thanks for registering!</h2>
            <a href="account/login" class="btn btn-primary">Login</a>
        </div>
    </div>
     
    
</div>


@code {

}