@inherits LayoutComponentBase


<main>
    @if (!AccountService.loggedIn)
    {
        <nav class="navbar navbar-expand bg-dark text-center">
            <div class="navbar-nav">
                <NavLink href="/" class="nav-item nav-link">Home</NavLink>
                <NavLink href="account/login" class="nav-item nav-link">Login</NavLink>
                <NavLink href="account/register" class="nav-item nav-link">Register</NavLink>
                <NavLink href="information/faq" class="nav-item nav-link">FAQ</NavLink>
            </div>
        </nav>
    }

    @if (AccountService.loggedIn)
    {
        <nav class="navbar navbar-expand bg-dark">
            <div class="navbar-nav">
                <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
                <NavLink href=@UserFeedUrl() class="nav-item nav-link">My Feed</NavLink>
                <NavLink href=@ProfileUrl() class="nav-item nav-link">View Profile</NavLink>
                <NavLink href=@EditProfileUrl() class="nav-item nav-link">Edit Profile</NavLink>
                <NavLink href="account/logout" class="nav-item nav-link">Logout</NavLink>
            </div>
        </nav>
    }

    @Body
    
</main>

<div class="footer bg-dark">
    <h6 class="text-muted">&copy; 2021 - Bloggo LLC</h6>
</div>


@code {
    public string UserFeedUrl()
    {
        return $"/users/{AccountService.User.Username}/feed";
    }
    public string EditProfileUrl()
    {
        return $"/users/{AccountService.User.Username}/edit-profile";
    }

    public string ProfileUrl()
    {
        return $"/users/{AccountService.User.Username}";
    }

}
