@page "/users/{Username}"

<div class="container-fluid">
    <div class="row">
        <!-- Replace my images with generic ones and use the database URL fields -->
        <img src=@db.GetItem(Username).CoverImageURL alt="profile cover image" class="cover-img rounded">
        <img src=@db.GetItem(Username).ProfileImageURL alt="profile picture" class="profile-img rounded rounded-circle">
    </div>
    <div class="row">
        <div class="col text-center">
            <h1 id="name">@db.GetItem(Username).FirstName @db.GetItem(Username).LastName</h1>
        </div>

        <div class="col-8 text-right">
            <h3>@@@Username</h3>
        </div>

    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Latest Posts</h3>
            <!-- Insert post getting code here-->
        </div>

        <div id="profile-sections" class="col">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h3>About Me</h3>
                    </div>
                    <hr>
                    <div class="card-text">
                        <p>@db.GetItem(Username).UserBio</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h3>My Website</h3>
                    </div>
                    <hr>
                    <div class="card-text">
                        <p>@db.GetItem(Username).Website</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h3>Users I follow</h3>
                    </div>
                    <div class="card-text">
                        <!-- To do -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string Username { get; set; }
    private ProfileDatabaseService db = new ProfileDatabaseService();
    public string ProfileUrl()
    {
        return db.GetItem(Username).ProfileURL;
    }
}
