@page "/account/invalid-login"

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-danger">Invalid Login information. Username or password was incorrect.</h3>
            <a class="btn btn-dark" href="account/login">Try again</a>
        </div>

    </div>
    
</div>

@code {

}