<div class="card">
    <EditForm Model="@model" OnValidSubmit="CreatePost">
        <div class="form-group">
            <InputTextArea @bind-Value="model.Content" class="form-control" />
        </div>
    </EditForm>
</div>

@code {
    private Post model;

    void CreatePost() {
        // TO DO
    }
}