@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    min-height: 100%;
    background-color: #c2cbd496;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;    
}

main {
    flex: 1 0 auto;
}


a, .btn-link {
    color: #3c8cd6;
}

.btn-info {
    border: 2px solid black;
}

.btn-dark {
    border: 2px solid black;
}

.btn-primary {
    color: #fff;
    background-color: #1ca032e5;
    border: 2px solid black;
}

.btn-danger {
    border: 2px solid black;
}

.content {
    padding: 0;
    margin: 0;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/* My CSS Rules */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #283747; */
    color: black;
    text-align: center;
    z-index: 10;
}

.card {
    border: 1px solid black;
    margin-top: 40px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.568);
}

.card-body {
    background-color: whitesmoke;
    border: 1px solid black;
}

.card-header {
    background-color: #283747;
    color: whitesmoke;
    border: 1px solid black;
}

.list-group-item {
    background-color: #28374796;
}

.form-group .form-control {
    border: 1px solid black;
}

.post {
    background-color: whitesmoke;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.568);
}

.post-header {
    background-color: #283747;
    padding-top: 10px;
    margin: auto;
}

.post-title {
    text-align: center;
    color: whitesmoke;
}

.post-author {
    margin-left: 100px;
}

.post-body {
    margin: 5%;  
}

.post-text {
    font-size: 14pt;
}

.post-footer {
    background-color: #4284cfb6;
    text-align: center;
}

.sidebar {
    position: fixed;
    margin-top: 10px;
    right: 60px;
}

.stick {
    position: fixed;
    margin-top: 30px;
    width: 100%;
    padding: 0;
}

.post-form {
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.cover-img {
    width: 100%;
    height: 300px;
    border: 2px solid black;
}

.profile-img {
    max-height: 200px;
    border: 2px solid black;
    position: absolute;
    margin-top: 150px;
    margin-left: 20px;
}

.post-img {
    max-height: 150px;
    max-width: 150px;
    margin-left: 100px;
}

.table-header {
    margin-top: 30px;
}

/* Admin */
#admin-user-btn, #admin-post-btn {
    margin-top: 10px;
    margin-left: 500px;
}

#admin-user-form {
    margin-top: 3px;
    margin-left: 250px;
    max-width: 50%;
}

#admin-post-form {
    margin-top: 3px;
    margin-left: 250px;
    max-width: 50%;
}


#name {
    margin-top: 50px;
}

#dev-img {
    width: 50%;
    height: 75%;
}

#dev-notice {
    margin-top: 40px;
    margin-bottom: 80px;
}

#dev-notice .card-header {
    border: 2px solid black;
}


#welcome {
    margin-top: 20px;
}

#faq {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

#faq .list-group-item {
    border: 1px solid black;
}

#about {
    margin-top: 40px;
    margin-bottom: 80px;
}

#register-form {
    margin-top: 20px;
    margin-bottom: 80px;
    width: 50%;
    height: 100%;
}

#register-thanks {
    margin: 10% auto;
    width: 25%;
}

#login-form {
    margin-top: 80px;
    width: 50%;
    height: 100%;
}

#profile-sections {
    margin-bottom: 70px;
    position: sticky;
}





