@page "/information/faq"


<div class="container">
    <div id="faq" class="card text-center">
        <div class="card-header">
            <h2>The Bloggo FAQ</h2>
        </div>

        <div class="card-body">
            <ul class="card-text list-group">
                <strong>
                    <a href="information/FAQs/about" class="list-group-item list-group-item-action">What is Bloggo?</a>
                    <a href="information/FAQs/developer" class="list-group-item list-group-item-action">Who made Bloggo?</a>
                    <a href="#" class="list-group-item list-group-item-action">Why did you make Bloggo?</a>
                    <a href="#" class="list-group-item list-group-item-action">How was Bloggo made?</a>
                    <a href="#" class="list-group-item list-group-item-action">What are the rules for use?</a>
                </strong>
            </ul>
            <hr>
            <a href="/">Back to the Front Page</a>
        </div>
    </div>
</div>
