@page "/information/FAQs/about"

<div class="container-fluid">
    <div id="about" class="card">
        <div class="card-header">
            <h1 class="text-center">About Bloggo</h1>
        </div>
        <div class="card-body">
            <h5 class="card-text">
                <em>Bloggo</em> is a social media service similar to Tumblr and Twitter.
            </h5>
            <hr>
            <h5 class="card-text">
                With <em>Bloggo</em>, you can keep up with your friends by reading their bloggos (posts)
                and writing your own bloggos. You can upvote (or downvote!), react, and <em>rebloggo</em>
                posts. You can follow topics and people you care about! 
            </h5>
            <hr>
            <h5 class="card-text">
                Posts in your personal feed will always, by default, be shown in chronological order. However, posts
                on the public feed will be sorted by upvotes. Are you front-page material? Find out!
            </h5>
            <hr>
            <h3 class="card-text text-center">
                Join Bloggo today! <a href="account/register">Register</a> now!
            </h3>
        </div>

        <div class="card-footer">
            <button class="btn btn-link"><a href="information/faq">Back to the FAQ list</a></button>
            <button class="btn btn-link"><a href="/">Back to the front page</a></button>
        </div>
    </div>

</div>