@page "/information/FAQs/mission"

<div id="mission-stmt" class="container container-fluid">
    <div class="card">
        <div class="card-header">
            <h1>Why Bloggo?</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Greetings and Welcome, </h5>
            <p class="card-text">Thank you for participating in this social media site in the making! 
                With the help of interested people like you, I can make Bloggo a reality.
            </p>
            <p class="card-text">Now, you may be wondering, what is Bloggo and why should I care?</p> 
            <p class="card-text">
                Bloggo is a new 
                social media platform similar in its design to others, but get this: it is open source and I do not
                track you or sell your data. Nothing I do is for profit. Everything I do is for <em>you</em>!
            </p>
            <p class="card-text">
                Let's get down to the business of laying the <strong>foundation</strong> for more <strong>equitable</strong> social media...
            </p>

            <h4 class="card-title">What makes Bloggo different?</h4>
            <hr>
            <p class="card-text">Bloggo has a simple goal: <strong>to connect you with the content and people you love and to filter out the rest.</strong></p>
            <p class="card-text">
                I believe that today's mainstream social media sites overwhelm users with <em>total garbage</em> in a pretty package.
            </p>
            <p class="card-text">Are you not tired of seeing the same posts shared over and over?</p>
            <p class="card-text">Are you being bombarded with targetted advertising?</p>
            <p class="card-text">Does it frustrate the <em>HECK</em> out of you that your feed is not in chronological order?</p>
            <p class="card-text">Bloggo is the <strong>solution</strong>.</p>


            <h4 class="card-title">What's the catch?</h4>
            <hr>
            <p class="card-text">
                There is no catch. Bloggo is <strong>100% free to use and the code is open source</strong>.
                You can view, fork, and modify the source code by following this <a href="https://github.com/jybryce4/bloggo" target="_blank">link</a>.
                In the github site you will find a project timeline, some design documents, .sql files for the database, and of course, 
                the source code. 
            </p>
            <p class="card-text">
                However, the name <em>Bloggo</em> is my intellectual property, but everything else you are free to use as you will.
                I do ask that you credit me if you use some of my code in your projects. Please do not use the images of myself or
                other users from this site without permission!
            </p>

            <h4 class="card-title">But surely you stand to gain <em>something</em> from this...</h4>
            <hr>
            <p class="card-text">
                Nope. I gain nothing but the satisfaction that comes with building and maintaining a community like this one.
            </p>
            <p class="card-text">
                In fact, I make no money off of this site whatsoever. I intend to keep things that way. I have no use (and no space) for 
                all of your personal data.
            </p>

            <h4 class="card-title">Great! How do I start?</h4>
            <hr>
            <p class="card-text">Click the Register link on the top navigation bar when you are ready.</p>

            <h5>And <em>thank you</em> for helping me make Bloggo a reality! Together, we can make social media truly free for all.</h5>
        </div>
        <div class="card-footer">
            <a href="/" class="btn btn-link">Back to the front page</a>
            <a href="/information/faq" class="btn btn-link">Back to the FAQ</a>
        </div>
    </div>

</div>

@code {

}